$home-background: #399CDB
$user-background: #0274BC
$home-button: #DA3B31
$join-button: #FD8700
$active-nav: #0274BC
$active-element: #DA3B31
$text-inputing: #2F9055
$text: #424242
$right-check: #2F9055
$wrong-check: #EE0000
$highlight-text: #0274BC